# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Compiled
*.o
*.so
a.out

# Editor / OS
*~
*.swp
*.swo
*~
\#*\#
.DS_Store
Thumbs.db

# Glade backup
*.glade~

# IDE
.vscode/
.idea/
*.code-workspace

# Packages
*.deb
*.AppImage


screenshots/shared/.Trash-*
